@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-top-color: #3490dc;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* index.css or global CSS file */
  html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  * {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  body {
    /* Default background color for light mode */
    background-color: #F9FAFB; /* Adjust this to your light background color */
  }
  
  html.dark body {
    /* Background color for dark mode */
    background-color: #111827; /* Adjust this to your dark background color */
  }
  